# Lib
/lib

# Private Test Data
/Example/privateConfig.json

# Coverage directory used by tools like istanbul
/coverage

# Dependency directories
/node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
/.npm

# Output of 'npm pack'
/*.tgz

# dotenv environment variables file
/.env

# custom temporary folder
/.tmp

# docker-compose override
/docker-compose.override.yml

# vscode-ide
/.vscode
/.idea
